asgiref==3.8.1
attrs==25.1.0
audioread==3.0.1
babel==2.17.0
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
configobj==5.0.9
decorator==5.2.1
distro==1.9.0
Django==4.2.20
djangorestframework==3.15.2
file-magic==0.4.1
future==1.0.0
idna==3.10
Jinja2==3.1.6
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
MarkupSafe==3.0.2
msgpack==1.1.0
mysql-connector-python==9.2.0
netifaces==0.11.0
numba==0.60.0
numpy==2.0.2
oauthlib==3.2.2
packaging==24.2
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.6
pooch==1.8.2
prettytable==3.15.1
psutil==7.0.0
ptyprocess==0.7.0
pycparser==2.22
pyrsistent==0.20.0
pyserial==3.5
PySocks==1.7.1
pystoi==0.4.1
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.3
rpds-py==0.23.1
scikit-learn==1.6.1
scipy==1.13.1
serializers==0.2.4
SETools==1.2.3
six==1.17.0
soundfile==0.13.1
soxr==0.5.0.post1
sqlparse==0.5.3
tablib==3.8.0
threadpoolctl==3.5.0
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.3.0
wcwidth==0.2.13
