asgiref
attrs
Babel
chardet
configobj
distro
Django
file-magic
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
libcomps
MarkupSafe
mysql-connector-python
netifaces
oauthlib
pexpect
prettytable
ptyprocess

pyrsistent
pyserial
PySocks
python-dateutil
pytz
PyYAML
requests
setools

sqlparse
typing_extensions
urllib3